.idea

# Ansible
*.retry
service-account-file.json
jdauphant.nginx
vault.key

# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache

# GCE integration
credentials.json
google_compute_engine
google_compute_engine.pub
secrets.tar
